http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/activities?page%5Bsize%5D=10&page%5Bnumber%5D=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"10cb9398c710bf57ebd487a1f4884ccf"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-anonymous-consumer: 'true'
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"44edefe5-f7ed-4ecb-8a40-207535460a98","type":"activities","attributes":{"prov:wasGeneratedBy":"https://api.datacite.org/activities/44edefe5-f7ed-4ecb-8a40-207535460a98","prov:generatedAtTime":"2019-12-31T22:43:25.934Z","prov:wasDerivedFrom":"https://doi.org/10.17605/osf.io/xh7um","prov:wasAttributedTo":"https://api.datacite.org/clients/cos.osf","action":"update","version":2,"changes":{"url":[null,"https://osf.io/xh7um/"],"aasm_state":["draft","findable"],"schema_version":["http://datacite.org/schema/kernel-4",null]}},"relationships":{"doi":{"data":{"id":"10.17605/osf.io/xh7um","type":"dois"}}}},{"id":"752e618a-3d7c-4a12-88c0-d5015fa66119","type":"activities","attributes":{"prov:wasGeneratedBy":"https://api.datacite.org/activities/752e618a-3d7c-4a12-88c0-d5015fa66119","prov:generatedAtTime":"2019-12-31T22:43:25.381Z","prov:wasDerivedFrom":"https://doi.org/10.17605/osf.io/xh7um","prov:wasAttributedTo":"https://api.datacite.org/clients/cos.osf","action":"create","version":1,"changes":{"doi":"10.17605/OSF.IO/XH7UM","url":null,"dates":[{"date":"2019","dateType":"Issued"}],"sizes":[],"types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"Project","resourceTypeGeneral":"Text"},"reason":null,"source":"mds","titles":[{"title":"Attention
        Bias and Expectancy Biases in Phylogenetic and Ontogenetic Stimuli"}],"formats":[],"creators":[{"name":"Abado,
        Elinor","nameType":"Personal","givenName":"Elinor","familyName":"Abado"},{"name":"Okon-Singer,
        Hadas","nameType":"Personal","givenName":"Hadas","familyName":"Okon-Singer"}],"language":null,"subjects":[],"container":{},"publisher":"Open
        Science Framework","aasm_state":"draft","regenerate":null,"content_url":null,"identifiers":[{"identifier":"https://doi.org/10.17605/osf.io/xh7um","identifierType":"DOI"}],"rights_list":[],"contributors":[],"descriptions":[],"landing_page":null,"version_info":null,"geo_locations":[],"only_validate":false,"schema_version":"http://datacite.org/schema/kernel-4","should_validate":true,"publication_year":2019,"funding_references":[],"related_identifiers":[]}},"relationships":{"doi":{"data":{"id":"10.17605/osf.io/xh7um","type":"dois"}}}},{"id":"93b18314-7101-4ff6-a712-d5c81eb99f23","type":"activities","attributes":{"prov:wasGeneratedBy":"https://api.datacite.org/activities/93b18314-7101-4ff6-a712-d5c81eb99f23","prov:generatedAtTime":"2019-12-31T22:40:13.437Z","prov:wasDerivedFrom":"https://doi.org/10.15468/dl.rznc9k","prov:wasAttributedTo":"https://api.datacite.org/clients/gbif.gbif","action":"create","version":1,"changes":{"doi":"10.15468/DL.RZNC9K","url":"https://www.gbif.org/occurrence/download/0031539-191105090559680","dates":[{"date":"2019-12-31","dateType":"Created"},{"date":"2019-12-31","dateType":"Updated"},{"date":"2019","dateType":"Issued"}],"sizes":["12472"],"types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceTypeGeneral":"Dataset"},"reason":null,"source":null,"titles":[{"title":"Occurrence
        Download"}],"formats":["Darwin Core Archive"],"creators":[{"name":"Occdownload
        Gbif.Org","nameType":"Organizational","affiliation":[],"nameIdentifiers":[]}],"language":null,"subjects":[{"lang":"eng","subject":"GBIF"},{"lang":"eng","subject":"biodiversity"},{"lang":"eng","subject":"species
        occurrences"}],"container":{},"publisher":"The Global Biodiversity Information
        Facility","aasm_state":"findable","regenerate":null,"content_url":null,"identifiers":[{"identifier":"https://doi.org/10.15468/dl.rznc9k","identifierType":"DOI"},{"identifier":"0031539-191105090559680","identifierType":"GBIF"}],"rights_list":[{"rights":"Creative
        Commons Attribution (CC-BY) 4.0","rightsUri":"http://creativecommons.org/licenses/by/4.0/legalcode"}],"contributors":[],"descriptions":[{"lang":"eng","description":"A
        dataset containing 32 species occurrences available in GBIF matching the query:
        { \"DatasetKey\" : [ \"is (Table 1) Proportion of Toxoplasma gondii seropositive
        arctic foxes (Alopex lagopus) by age group and geographic area\" ] } The dataset
        includes 32 records from 1 constituent datasets: 32 records from (Table 1)
        Proportion of Toxoplasma gondii seropositive arctic foxes (Alopex lagopus)
        by age group and geographic area. Data from some individual datasets included
        in this download may be licensed under less restrictive terms.","descriptionType":"Abstract"}],"landing_page":null,"version_info":null,"geo_locations":[],"only_validate":false,"schema_version":"http://datacite.org/schema/kernel-4","should_validate":false,"publication_year":2019,"funding_references":[],"related_identifiers":[{"relationType":"References","relatedIdentifier":"10.1594/pangaea.818322","relatedIdentifierType":"DOI"}]}},"relationships":{"doi":{"data":{"id":"10.15468/dl.rznc9k","type":"dois"}}}},{"id":"43a72d4a-54f4-4606-9ac1-4ed0b998df1f","type":"activities","attributes":{"prov:wasGeneratedBy":"https://api.datacite.org/activities/43a72d4a-54f4-4606-9ac1-4ed0b998df1f","prov:generatedAtTime":"2019-12-31T22:37:15.466Z","prov:wasDerivedFrom":"https://doi.org/10.5281/zenodo.3593988","prov:wasAttributedTo":"https://api.datacite.org/clients/cern.zenodo","action":"update","version":6,"changes":{"schema_versio[...]
