http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/client-prefixes?page%5Bsize%5D=5&page%5Bnumber%5D=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b67f4bed8c486c4508eb03c63b75c133"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-anonymous-consumer: 'true'
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"0005-46wn-pj00-0000","type":"client-prefixes","attributes":{"created":"2019-12-27T12:10:23.000Z","updated":"2019-12-27T12:10:23.000Z"},"relationships":{"client":{"data":{"id":"fct.ulusiada","type":"clients"}},"provider":{"data":{"id":"fct","type":"providers"}},"providerPrefix":{"data":{"id":"0001-sgw9-0400-0000","type":"provider_prefixes"}},"prefix":{"data":{"id":"10.34628","type":"prefixes"}}}},{"id":"0003-a5yr-7a00-0000","type":"client-prefixes","attributes":{"created":"2019-12-24T13:03:08.000Z","updated":"2019-12-24T13:03:08.000Z"},"relationships":{"client":{"data":{"id":"rads.sounb","type":"clients"}},"provider":{"data":{"id":"rads","type":"providers"}},"providerPrefix":{"data":{"id":"0000-8mdn-vg00-0000","type":"provider_prefixes"}},"prefix":{"data":{"id":"10.34830","type":"prefixes"}}}},{"id":"0003-p9zp-r400-0000","type":"client-prefi[...]
