http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/clients?page%5Bsize%5D=5&page%5Bnumber%5D=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2b69cbddaaee2082bf66699e476dc0b3"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-anonymous-consumer: 'true'
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"gesis.rki","type":"clients","attributes":{"name":"''Health
        Monitoring'' Research Data Centre at the Robert Koch Institute","symbol":"GESIS.RKI","year":2012,"contactEmail":"dara@gesis.org","alternateName":"Research
        Data Centre of the Robert Koch Institute","description":"The Research Data
        Centre of the Robert Koch Institute (FDZ RKI) publishes the data of population-representative
        health surveys in the form of public use files (PUFs).The main purpose of
        health surveys is to generate a maximum amount of information on the state
        of health and health-related behaviour of Germany''s resident population while
        ensuring an optimum use of funds. The methodology - i.e. the sample design,
        the principles on operationalization and measurement, and data-collection
        techniques - is largely modelled on the tried-and-tested methods of empirical
        social research. Health interview surveys (HIS) use established survey techniques
        such as filling out questionnaires, computer-assisted telephone interviews
        (CATI), computer-assisted personal interviews (CAPI), and online polling via
        the internet or email. The main difference compared to purely sociological
        surveys lies in the additional biomedical examinations, tests and medical-biochemical
        measurements, which generate significant added value in addition to the results
        of the surveys; this part is referred to internationally as the health examination
        survey (HES).","language":["en","de"],"clientType":"repository","domains":"kiggs-studie.de,degs-studie.de,geda-studie.de,rki.de,krebsdaten.de,edoc.rki.de","re3data":"https://doi.org/10.17616/R3K31G","opendoar":null,"issn":{},"url":"https://www.rki.de/DE/Content/Forsch/FDZ/FDZ_node.html","created":"2012-11-15T15:21:43.000Z","updated":"2019-11-26T22:33:31.000Z","isActive":true,"hasPassword":true},"relationships":{"provider":{"data":{"id":"gesis","type":"providers"}},"prefixes":{"data":[{"id":"10.7797","type":"prefixes"},{"id":"10.17886","type":"prefixes"},{"id":"10.17887","type":"prefixes"},{"id":"10.18444","type":"prefixes"}]}}},{"id":"ethz.ubasojs","type":"clients","attributes":{"name":"027.7
        - Zeitschrift für Bibliothekskultur","symbol":"ETHZ.UBASOJS","year":2013,"contactEmail":"barbara.hirschmann@library.ethz.ch","alternateName":null,"description":null,"language":[],"clientType":"periodical","domains":"0277.ch","re3data":null,"opendoar":null,"issn":{},"url[...]
