http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/dois?page%5Bsize%5D=5&page%5Bnumber%5D=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"390158cfa413c51b6aa6014fa77b3f12"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-anonymous-consumer: 'true'
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"10.26197/5e0bf724ecbfd","type":"dois","attributes":{"doi":"10.26197/5e0bf724ecbfd","identifiers":[{"identifier":"https://doi.org/10.26197/5e0bf724ecbfd","identifierType":"DOI"}],"creators":[{"name":"Atlas
        Of Living Australia","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"Occurrence
        download Isla_Gorge_National_Park_Occurrence_records"}],"publisher":"Atlas
        Of Living Australia","container":{},"publicationYear":2020,"subjects":[],"contributors":[{"name":"Symes,
        Peter","nameType":"Personal","givenName":"Peter","familyName":"Symes","affiliation":[],"contributorType":"Distributor","nameIdentifiers":[]}],"dates":[{"date":"2020","dateType":"Issued"}],"language":"en","types":{"ris":"RPRT","bibtex":"article","citeproc":"article-journal","schemaOrg":"ScholarlyArticle","resourceType":"Species
        information","resourceTypeGeneral":"Text"},"relatedIdentifiers":[],"sizes":[],"formats":[],"version":null,"rightsList":[],"descriptions":[{"description":"ALA
        occurrence record download","descriptionType":"Other"}],"geoLocations":[],"fundingReferences":[],"url":"https://doi.ala.org.au/doi/977f52cd-f76b-4ba1-b972-0f969ab37870","contentUrl":null,"metadataVersion":0,"schemaVersion":"http://datacite.org/schema/kernel-3","source":"mds","isActive":true,"state":"findable","reason":null,"created":"2020-01-01T01:34:30.000Z","registered":"2020-01-01T01:34:31.000Z","published":"2020","updated":"2020-01-01T01:34:38.000Z"},"relationships":{"client":{"data":{"id":"ands.centre68","type":"clients"}}}},{"id":"10.13140/rg.2.2.16981.58080","type":"dois","attributes":{"doi":"10.13140/rg.2.2.16981.58080","identifiers":[{"identifier":"https://doi.org/10.13140/rg.2.2.16981.58080","identifierType":"DOI"}],"creators":[{"name":"Rahman,
        Anis","nameType":"Personal","givenName":"Anis","familyName":"Rahman","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"TeraSpecta
        in Action Benefits of TNS3DI for Nanoscale Metrology"}],"publish[...]
