http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/data-centers?member-id=delft&page%5Boffset%5D=0&page%5Bsize%5D=25
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2443f9f5fc9028479348dea9897674db"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-anonymous-consumer: 'true'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"delft.data4tu","type":"data-centers","attributes":{"title":"4TU.Centre
        for Research Data","member-id":"delft","year":2011,"created":"2011-09-30T09:18:16Z","updated":"2018-05-27T02:30:09Z"},"relationships":{"member":{"data":{"id":"delft","type":"members"}}}},{"id":"delft.bira","type":"data-centers","attributes":{"title":"Belgian
        Institute for Space Aeronomy","member-id":"delft","year":2016,"created":"2016-01-04T07:26:36Z","updated":"2018-05-27T02:30:30Z"},"relationships":{"member":{"data":{"id":"delft","type":"members"}}}},{"id":"delft.easy","type":"data-centers","attributes":{"title":"DANS","member-id":"delft","year":2014,"created":"2014-10-30T07:02:02Z","updated":"2018-05-27T02:30:22Z"},"relations[...]
