http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/data-centers/cdl.dryad
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"02a87caaa599f7e7a3a06aa303c832a5"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-anonymous-consumer: 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cdl.dryad","type":"data-centers","attributes":{"title":"Dryad","member-id":"cdl","year":2013,"created":"2013-02-19T17:42:03Z","updated":"2018-05-27T02:30:14Z"},"relationships":{"member":{"data":{"id":"cdl","type":"members"}}}}}'
  recorded_at: 2018-05-27 15:59:02 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
