http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/members/cern
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/vnd.api+json; charset=utf-8
      etag: W/"dcd7182fd22bc5e0850fdecd6ebc3ae7"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-anonymous-consumer: 'true'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cern","type":"members","attributes":{"title":"CERN -
        European Organization for Nuclear Research","description":"CERN, the European
        Organization for Nuclear Research, is the world''s largest particle physics
        laboratory. Founded in 1954 and based on the Franco-Swiss border near Geneva,
        it was one of Europe''s first joint ventures and now has 21 member states
        and more than 50 cooperation agreements and scientific contacts with other
        countries.\n\nAt CERN, physicists and engineers probe the fundamental structure
        of the universe. They use the world''s largest and most complex scientific
        instrument, the Large Hadron Collider (LHC), to study the basic constituents
        of matter. The results of their experimental and theoretical work are publicly
        available following CERN''s Open Access Policy.\n\nCERN services implementing
        DOIs are its institutional repository (CDS, CERN Document Server); INSPIRE-HEP,
        a digital library for the field of High-Energy Physics run in collaboration
        with other institutions; or the CERN Open Data Portal, which provides high
        level and analyzable data and software from the LHC experiments.\n\nFurthermore,
        CERN is also providing DOIs to ZENODO, a multidisciplinary data repository
        for the “long tail” of research results. It allows researchers to share and
        preserve their output independent of size, type of material or discipline.","member-type":"provider","institution-type":null,"region":"EMEA","country":"Switzerland","year":2014,"logo-url":"https://assets.datacite.org/images/members/cern.png","email":"sunje.dallmeier-tiessen@cern.ch","website":"http://doi.web.cern.ch/","phone":null,"joined":"2014-03-25","created":"2014-04-10T13:41:44.000Z","updated":"2018-05-27T02:25:51.000Z"}}}'
  recorded_at: 2018-05-27 15:46:01 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.5.2
