http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/members?query=ands&page%5Boffset%5D=0&page%5Bsize%5D=25
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/vnd.api+json; charset=utf-8
      etag: W/"ff309ce2752e2871691a9256cda94fbf"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
      x-anonymous-consumer: 'true'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ands","type":"members","attributes":{"title":"Australian
        National Data Service (ANDS)","description":"The Australian National Data
        Service (ANDS) makes Australia''s research data assets more valuable for researchers,
        research institutions and the nation.\n\nWe do this through working in trusted
        partnerships on research data projects, delivering reliable national services
        and enhancing the capability of Australia''s research data system.\n \nA key
        ANDS service is the [Research Data Australia](http://researchdata.ands.org.au/)
        discovery portal where[...]
