http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?q=%2A%3A%2A&fl=doi%2Ctitle&wt=csv
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        doi,title
        10.6068/DP15E776BEAE529,"Most Recent Data (2008). Food and Agriculture Organization of the United Nations. Food and Agriculture Organization Statistics: Food Security - Indicators from Household Surveys | Survey: Panama - 2008 | Breakdown: Income terciles: Medium income tercile | Gender: Male-headed household | Indicator: Protein consumption | Measure: Mean\, 2008. Data-Planet™ Statistical Ready R[...]
- request:
    method: get
    uri: https://search.datacite.org/api?q=%2A%3A%2A&fl=doi%2Ctitle&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"responseHeader":{"status":0,"QTime":1},"response":{"numFound":13698883,"start":0,"docs":[{"doi":"10.6068/DP15E776BEAE529","title":["Most Recent Data (2008). Food and Agriculture Organization of the United Nations. Food and Agriculture Organization Statistics: Food Security - Indicators from Household Surveys | Survey: Panama - 2008 | Breakdown: Income terciles: Medium income tercile | Gender: Male-headed household | Indicator: Protein consumption | Measure: Mean, 2008. Data-Planet™ Statistical Ready Reference by Conquest Systems, Inc.  Dataset-ID: 067-001-070."]},{"doi":"10.6068/DP15E776BF2E130","title":["Most Recent Data [...]
